beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cssselect==1.3.0
DataRecorder==3.6.2
DownloadKit==2.0.7
DrissionPage==4.1.0.18
et_xmlfile==2.0.0
filelock==3.18.0
greenlet==3.1.1
idna==3.10
lxml==5.3.1
numpy==2.2.4
openpyxl==3.1.5
pandas==2.2.3
playwright==1.51.0
psutil==7.0.0
pyee==12.1.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
requests-file==2.1.0
six==1.17.0
soupsieve==2.6
tldextract==5.1.3
typing_extensions==4.13.0
tzdata==2025.2
urllib3==2.3.0
websocket-client==1.8.0
